/*メインボタン*/
.customer-css-mainbutton {
        background-color: #CA5C6F; /* Button background color */
        color: white; /* Text color */
        border: none; /* Remove border */
        border-radius: 8px; /* Rounded corners */
        padding: 10px 90px; /* Spacing */
        font-size: 16px; /* Font size */
        font-weight: bold; /* Bold text */
        cursor: pointer; /* Pointer cursor on hover */
      }


/* Sub Button - Outline */
.sub-button-outline {
    background-color: transparent; /* Transparent background */
    color: #CA5C6F; /* Text color */
    border: 2px solid #CA5C6F; /* Outline color */
    border-radius: 8px; /* Rounded corners */
    padding: 10px 90px; /* Spacing */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
  }


  /* キャンセルボタン*/
.sub-button-disabled {
    background-color: #CDCDCD; /* Disabled button background color */
    color: white; /* Disabled text color */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px 90px; /* Spacing */
    font-size: 16px; /* Font size */
    cursor: not-allowed; /* Show disabled cursor */
  }
  