/* HotelAdmin Profile Show */

.form-control-plaintext.border-bottom {
  border-bottom: 1px solid #cdcdcd;
  /* 太さと色を変更 */
  padding-bottom: 5px;
  /* 下の余白を調整 */
}

.service-line {
  display: flex;
  border-bottom: 1px solid #cdcdcd;
  /* 全体に下線を追加 */
  padding-bottom: 5px;
}

.service-item {
  margin-right: 25px;
  padding-bottom: 5px;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* カテゴリー間の間隔 */
}

.category-item {
  background-color: #f8d7da;
  /* ボタンの背景色（淡いピンク） */
  color: #000;
  /* 文字の色（ダークレッド） */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-main {
  background-color: #CA5C6F;
  /* Button background color */
  color: white;
  /* Text color */
  border: none;
  /* Remove border */
  border-radius: 8px;
  /* Rounded corners */
  padding: 10px 90px;
  /* Spacing */
  font-size: 16px;
  /* Font size */
  font-weight: bold;
  /* Bold text */
  cursor: pointer;
  /* Pointer cursor on hover */
  white-space: nowrap
    /*文字列折り返さない*/
}


/* Sub Button - Outline */
.btn-sub {
  background-color: transparent;
  /* Transparent background */
  color: #CA5C6F;
  /* Text color */
  border: 2px solid #CA5C6F;
  /* Outline color */
  border-radius: 8px;
  /* Rounded corners */
  padding: 10px 90px;
  /* Spacing */
  font-size: 16px;
  /* Font size */
  cursor: pointer;
  /* Pointer cursor on hover */
  white-space: nowrap
    /*文字列折り返さない*/
}


/* キャンセルボタン*/
.btn-sub2 {
  background-color: #CDCDCD;
  /* Disabled button background color */
  color: white;
  /* Disabled text color */
  border: none;
  /* No border */
  border-radius: 8px;
  /* Rounded corners */
  padding: 10px 90px;
  /* Spacing */
  font-size: 16px;
  /* Font size */
  cursor: not-allowed;
  /* Show disabled cursor */
  white-space: nowrap
    /*文字列折り返さない*/
}



/* HotelAdmin Profile Edit */
.form-width {
  width: 60px;
}

.image-upload-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  /* 水平方向の中央配置 */
  align-items: center;
  /* 垂直方向の中央配置 */
  height: 100%;
  /* 必要に応じて高さを指定 */
  margin-bottom: 20px;

}

.image-preview {
  width: 95px;
  height: 95px;
  position: relative;
  display: inline-block;
  text-align: center;
}

.preview-thumbnail {
  width: 95px;
  height: 95px;
  object-fit: cover;
  border: 1px solid #ddd;
}

.preview-icon {
  font-size: 60px;
  width: 95px;
  height: 95px;
  line-height: 95px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  display: inline-block;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #CDCDCD;
  color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}


.upload-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #CDCDCD;
  color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}

#error-message {
  margin-top: 5px;
  color: #dc3545;
  font-size: 0.875em;
  display: none;
}


.show-error {
  position: absolute;
  bottom: 10px;
}

.image-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}


textarea#remarks {
  min-height: 80px;
}

/* カードの角の境界線を表示させる */
.card {
  overflow: hidden;
}


/* カードヘッダーのスタイリング */
.card-header {
  background-color: #ffffff;
  border-bottom: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

/* カードヘッダーのスタイリング */
.card-body {
  background-color: #ffffff;

}

/* フォームのチェックボックスのラベル間のスペース調整 */
.form-check-label {
  margin-left: 0.1rem;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}


/* .btn-main{
  background-color: #CA5C6F; 
  color: #FFFFFF; 
  border: 1px solid #CA5C6F;
  height: 1.5rem;
  width: 5rem;
  font-size:0.6rem;
  justify-content: center;
  display: flex;
  align-items: center;

}

.btn-sub{
  background-color: #FFFFFF; 
  color: #CA5C6F; 
  border: 1px solid #CA5C6F;
  height: 1.5rem;
  width: 5rem;
  font-size:0.6rem;
  justify-content: center;
  display: flex;
  align-items: center;

}

.btn-sub2{
  background-color: #CDCDCD; 
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  height: 1.5rem;
  width: 5rem;
  font-size:0.6rem;
  justify-content: center;
  display: flex;
  align-items: center;

} */

/* HotelAdmin Rooms List */

/* modal */
.modal-message {
  font-size: 32px;
  color: red;
  margin-bottom: 20px;
}

/* modal exclamation icon */
.icon-lg {
  font-size: 100px;
  color: red;
}

/* table edit delete icon part */
.fixed-width {
  width: 10%;
}

/* edit delete icon */
.icon-md {
  height: 25px;
  width: 25px;
}

/* 部屋の画像の大きさ */
.roomimage {
  height: 50px !important;
  width: 50px !important;
  object-fit: cover !important;
  /* 画像の縦横比を維持しつつ切り取り */
  object-position: center !important;
  /* 画像の中心を基準に切り取る */
  display: block !important;
  /* 不要な余白をなくすため */
}