.review-header {
  display: flex; /* Flexboxを有効化 */
  justify-content: space-between; /* 要素間を等間隔に配置 */
  align-items: center; /* 垂直方向の中央揃え */
  gap: 20px; /* 要素間の間隔 */
}

.hotel-image img {
  width: 200px; /* 画像の幅を調整 */
  height: auto; 
  object-fit: cover; /* 画像を枠内に収める */
  border-radius: 5px; /* 角を丸くする */
}

.hotel-info {
  flex: 1; /* ホテル情報部分を広げる */
  text-align: left; /* 左揃え */
}

.stay-info {
  text-align: right; /* 右揃え */
  flex: 1; /* 同じ割合で伸縮 */
}

.hotel-image {
  flex: 0 0 auto; /* 画像のサイズを固定 */
  border: 0.1px solid #e2e2e2; /* 枠線の太さ、スタイル、色 */
}

.bg-pink {
  background-color: #ffcccb; /* 薄いピンク */
  color: #000000 !important; /* 文字色（必要に応じて変更） */
}

.not_selected {
  font-size: 1.5rem;
  color: #ccc; /* デフォルトの星の色 */
}

.selected {
    font-size: 1.5rem;
    color: gold; /* 選択およびホバー時の星の色 */
}

.rate-text {
  font-size: 1.5rem;
  margin-left: 10px;
  color: #333;
}

.subbtn1 {
  display: inline-block; /* サイズ指定を適用可能に */
  width: 200px; /* 幅 */
  height: 50px; /* 高さ */
  text-align: center; /* テキストを中央揃え */
  line-height: 50px; /* 縦方向のテキスト中央揃え */
  color: #CA5C6F; /* テキスト色 */
  border: 1px solid #CA5C6F; /* ボーダー */
  border-radius: 8px; /* 角を丸める */
  text-decoration: none; /* 下線を削除 */
  cursor: pointer; /* ホバー時のポインター表示 */
}


/* キャンセルボタン*/

.subbtn2 {
  display: inline-block; /* サイズ指定を適用可能に */
  width: 200px; /* 幅 */
  height: 50px; /* 高さ */
  text-align: center; /* テキストを中央揃え */
  line-height: 50px; /* 縦方向のテキスト中央揃え */
  background-color: #CDCDCD; /* 背景色 */
  color: #333; /* テキスト色 */
  border: 1px solid #ccc; /* ボーダー */
  border-radius: 8px; /* 角を丸める */
  text-decoration: none; /* 下線を削除 */
  cursor: pointer; /* ホバー時のポインター表示 */
}