/* navbarのCSS  */
.nabvar-customer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px; /* ナビゲーションバーの高さ */
  background-color: #FDF5F8;  /* 背景色 */
  border-bottom: 1px solid #ddd; /* 下線（任意） */
  z-index: 1000; /* 高い値を指定 */
}

.nabvar-hotel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px; /* ナビゲーションバーの高さ */
  background-color: #F8A2A2;  /* 背景色 */
  border-bottom: 1px solid #ddd; /* 下線（任意） */
  z-index: 1000; /* 高い値を指定 */
}


.logo-main {
  width: 2.5rem;
  height: 2.5rem;
}


.logo-sub {
  width: 1.5rem;
  height: 1.5rem;
}

.language {
  font-size:0.6rem;
  color: #363636; /* ボタンテキスト色 */
  justify-content: center;
  display: flex;
  align-items: center;

}

.btn-mypage{
  background-color: #FFFFFF; /* ボタン背景色 */
  color: #CA5C6F; /* ボタンテキスト色 */
  border: 1px solid #CA5C6F;
  height: 1.5rem;
  width: 5rem;
  font-size:0.6rem;
  justify-content: center;
  display: flex;
  align-items: center;

}

.btn-logout{
  background-color: #CA5C6F; /* ボタン背景色 */
  color: #FFFFFF; /* ボタンテキスト色 */
  border: 1px solid #CA5C6F;
  height: 1.5rem;
  width: 5rem;
  font-size:0.6rem;
  justify-content: center;
  display: flex;
  align-items: center;

}


/* sidebarのCSS  */

.sidebar-menu {
  height: 100vh; /* ビューポートの高さを指定 */
  position: fixed; /* スクロール時も固定 */
  top: 0;
  left: 0;
  overflow-y: auto; /* スクロール可能にする */
  border-right: 1px solid #ddd; /* 枠線を追加（任意） */
  margin-top:56px;
  background-color: #EEEEEE;
  
}
.sidebar-content {
  margin-top:56px;
  margin-left: 16.66666666%; /* サイドバーの幅に合わせて調整 */
  padding: 20px;
}

.list-group-item {
  background-color: transparent;
  color: #333;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

/* ホバー時のスタイル */
.list-group-item:hover {
  background-color: #ffffff;
  color: #000;
}

/* アクティブ状態のスタイル */
.list-group-item.active {
  background-color: #ffffff; /* アクティブ時の背景色（青） */
  color: #000;

}



.content {
  margin-top: 56px; /* ナビゲーションバー分のスペースを確保 */
  padding: 20px;
}


.footer {

  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #6c757d;
}

.notification-dropdown {
  display: none; /* 初期状態で非表示 */
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  padding: 10px;
}

.notification-dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #CA5C6F;
  margin:auto
  
}

.notification-dropdown a:hover {
  background-color: #f1f1f1;
}
